<!DOCTYPE html>
<html>
  <head>
    <title>onepx</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header class="navbar">
      <%= image_tag "onepx-tiny.png", class: "logo" %>
    </header>

    <%- if flash.notice.present? %>
      <div class='flash-notice'>
        <p><%= flash.notice %></p>
      </div>
    <%- end %>

    <%= yield %>

  </body>
</html>
